<div class="navbar">
  <div class="left-navbar">
    <a href="/" class="navbar-logo">
      <%= image_tag "noun-map.png", class: "logo" %>
    </a>
    <h1>Find your delivery office</h1>
  </div>
  <div>
    <i class="fa fa-plus" aria-hidden="true"></i>
    <%= link_to "Add office", new_office_path, class: "link" %>
  </div>
</div>
<div class="container">
  <form action="/" method="get" class="form-inline">
    <div class="form-group">
      <input required type="text" name="postcode" class="search-query form-control" placeholder="Postcode" >
    </div>
    <div class="form-group">
      <input required type="text" name="radius" class="search-query form-control" placeholder="Radius [mi]" >
    </div>
    <input type="submit" class="btn btn-danger" id="search-btn" value = "Search">
  </form>

  <div class="list-offices">
    <% if params[:postcode].present? %>
      <% if @offices == [] %>
        <p>Sorry no results, try increasing the radius!</p>
      <% else %>
        <h2>Search result for <strong><%= params[:postcode] %></strong> postcode in <strong><%= params[:radius] %></strong> miles radius:</h2>
        <div>
          <i class="fa fa-undo" aria-hidden="true"></i>
          <%= link_to "Reset", root_path, class: "link" %>
        </div>
        <% sorted_offices = @offices.sort_by { |k| k[:distance] } %>
        <% sorted_offices.each do |office| %>
          <div class="office">
            <div>
              <h3><%= office[:office].name.capitalize %></h3>
              <p><%= office[:office].postcode.upcase %></p>
            </div>
            <p><%= office[:distance] %> mi</p>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h2>All offices:</h2>
      <% @offices.each do |office| %>
        <div class="office">
          <div>
            <h3><%= office.name.capitalize %></h3>
            <p><%= office.postcode.upcase %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
</div>



