<div class="navbar">
  <div class="left-navbar">
    <a href="/" class="navbar-logo">
      <%= image_tag "noun-map.png", class: "logo" %>
    </a>
    <h1>Add a new office</h1>
  </div>
  <div>
    <i class="fa fa-undo" aria-hidden="true"></i>
    <%= link_to "Back to list", root_path, class: "link" %>
  </div>
</div>
<div class="container">
  <%= simple_form_for [@office] do |f| %>
    <div class="form-window">
      <div class="form-group">
        <div class="field">
          <%= f.input :name, class: 'my-label' %>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
          <%= f.input :postcode, label: "Postcode (no spaces)" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Submit your office", class: "btn btn-danger" %>
      </div>
    </div>

  <% end %>
</div>

